* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    min-height: 100%;
    min-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}