* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(133, 133, 219);
    min-height: 100%;
    min-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

@media (max-width: 650px) {
    header {
        flex-wrap: wrap;
    }
}

#header-img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

@media (max-width: 650px) {
    #header-img {
        margin: 0 auto;
    }
}

@media (max-width: 650px){
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
}

div {
    padding: 10px;
    margin: 20px;
}

/* #landing-img {
    background: url('https://images.unsplash.com/photo-1470058869958-2a77ade41c02?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    height:95vh;
    background-size: cover;
    text-align:right;
}
#landing-txt{
    font-size:5rem;
    margin-right: 10%;
    color:rgb(229, 231, 112);
} */